{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    Categories:
    <ul>
    {% for cat in categories %}
        <li>
            {{ cat.title }}
        </li>
    {% endfor %}
    </ul>

    Products:
    <ul>
        {% for prod in products %}
            <li>
                {{ dump(prod) }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}
